@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    /*font-size: 20px;*/
}

body {
    /*background-image: url('img/hoja.png');
    background-size: 50px 50px;
    background-position: center center;*/
    /*background-image:
        radial-gradient(#0099ff4d 1px, transparent 1px),
        radial-gradient(#0099ff4d 1px, transparent 1px);
        background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
    mas claro agregar 4d a color*/
    background-image: url('img/fondo.jpg');

    background-size: cover;


}

#root {

    /*width: 480px;
    height: 100vh;*/
    border: 1px solid #ccc;
    display: grid;
    align-content: center;
    justify-content: center;
    /*eje vert y hor centrados*/

}

section {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 450px;
    height: 100vh;
    /*VER AQUI 550
    height: 100vh;*/

}

/*#homeSection{
    height: 50%;
}*/

@media only screen and (min-width: 576px) {
    * {
        font-size: 20px
    }

    .section {
        width: 100%;
    }

    #divHome {
        width: 100%;

    }
}

/*
@media (min-width: 550px) {
    section {
        width: 100%;
        height: 100%;
    }
}
*/
#logo {
    width: 120px;
    padding: 30px;
}

h1 {
    text-align: center;
    font-weight: 800;
    padding: 0 20px 20px;
}

p {
    font-size: 18px;
    padding-bottom: 8px;
    margin-top: 4px;
}

input {
    font-size: 16px;
}

button {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 10px;
    padding: 4px 12px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    transition: opacity 0.2s ease;
    background-color: #00c7566c;
    /*#c3cdca  #00AE7F  #0af8b1bd*/

}

button:hover {
    opacity: 0.8;
}

hr {
    margin: 20px 70px;
}

#sectionRegister {
    padding-top: 69px;
}

#formRegister {
    text-align: center;
    margin: 0 auto;

}

/*home, prblemas con mobile first*/
#divHome {
    width: 100%;
    justify-content: center;
    row-gap: 1em;
}

header {
    align-items: center;
    border-bottom: 1px solid #ccc;
    height: 49px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    position: sticky;
    top: 0;
    width: 100%;
    /*100*/
    background: rgba(255, 255, 255);
}

/*article{
    padding: 10px 15px;
}*/

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 25px;
    /*width: 90%; no estaba*/
}

li {
    padding: 20px;
    background: #f6f6f6;
    /*#A5C4AD*/
    font-size: 20px;
    color: #555;
    position: relative;
    align-items: center;
    border: 1px solid #A5C4AD;
    /*#e6e6e6*/

}

#del:hover{
    cursor: pointer;
    color: red;
}

li span {
    display: block;
}

li div {
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255, 255, 255, 0.6);
    width: 40px;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    cursor: pointer;
}

h2 {
    font-size: 21px;
    font-weight: 800;
}

#loginCreate {
    padding-top: 29px;
    margin: 0 15px;
}

.textArea,
textarea {
    display: flex;
    justify-content: center;
    min-height: 80px;
    width: 100%;
    /*100*/
    padding: 0.9rem;
    resize: vertical;
    font-size: 16px;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    border-top: 1px solid #ccc;
    height: 49px;
    position: sticky;
    width: 100%;
    /*100*/
    background: rgba(255, 255, 255);
}

#name {
    font-weight: bold;
}

#btnSave:hover{
    background-color: white;
    border-width: thin;
    border-style: solid;
    border-color: green;
}

#btnCancel:hover{
    background-color: white;
    border-width: thin;
    border-style: solid;
    border-color: red;
}

.visible {
    display: block;

}

.oculto {
    display: none;
}